@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700;900&display=swap');


:root {
  --color-gradient-dark: #0029AA;
  --color-gradient-light: #5C82FA;
  --color-span: #4083E7;
  --color-border: #3771C8;
  --color-background: #000000;
  --color-text: #FFFFFF;
}

/* div {
  border: 2px solid greenyellow;
} */

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-thumb {
background: var(--color-gradient-dark);
border-radius: .5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-border);
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: var(--color-text);
  box-sizing: border-box;
  background-color: #000000;
  text-align: center;
}



h1 {
  text-transform: uppercase;
  line-height: 2.2rem;
  font-size: 2.5rem;
}

h2 {
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 2rem;
}

h3 {
  width: 80%;
  font-size: 1.7vw
}

button {
  background: linear-gradient(#0029AA, #5C82FA);
  padding: 1em 2.5em;
  border-radius: .8em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

span {
  color: var(--color-span);
}

footer {
  height: 22vh;
  background: linear-gradient(#000000, #0029AA);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 8em;
  margin-bottom: 0;
}

/*MAIN SECTION*/

main {
  background-image: url('./assets/sales_bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.main-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  margin-top: 5%;
}

.main-logo img {
  width: 80%;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text p {
  width: 80%;
}

.main-scroll {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
}

.main-scroll img {
  width: 80%;
}

/*SECOND SECTION*/

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.box-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vw;
  position: relative;
}

.box-left {
  background-image: url('./assets/box_l.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 47%;
  position: relative;
  display: flex;
  align-items: center;
  height: 18vw;
  align-self: self-start;
}


.box-right {
  background-image: url('./assets/box_r.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 46.1%;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: end;
  height: 17.4vw;
  align-self: self-end;
}

.box-left-text {
  width: 75%;
  height: 85%;
  top: 1;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}

.box-right-text {
  width: 75%;
  height: 85%;
  top: 1;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  text-align: right;
}

.box-left-text h2,
.box-right-text h2 {
  text-transform: uppercase;
  font-size: 2.2vw;
  margin-top: 0;
  margin-bottom: 10px;
}

.box-left-text p,
.box-right-text p {
  font-size: 1.3vw;
  margin-top: 0;
}

span {
  color: #4083E7;
}

.left-right-line::after {
  content: '';
  width: 10px;
  position: absolute;
  background-color: #4083E7;
  height: .3vw;
  width: 65%;
  left: 100%;
}

.right-top-line::before {
  content: '';
  height: 87.5%;
  width: .3vw;
  background-color: #4083E7;
  position: absolute;
  top: -87.5%;
  left: 51%;
}

.right-left-line::after {
  content: '';
  width: 10px;
  position: absolute;
  background-color: #4083E7;
  height: .3vw;
  width: 65%;
  right: 100%;
}

.left-top-line::before {
  content: '';
  width: .3vw;
  height: 82%;
  background-color: #4083E7;
  position: absolute;
  bottom: 100%;
  left: 51%
}

/* LAST SECTION */

.last {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 6rem 0;
}

.last-title {
  margin-bottom: 10%;
}

.last-box-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3vw;
}

.box-out {
  background: linear-gradient(#3771C8, rgba(0,0,0,0));
  width: 70%;
  height: 10rem;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-in {
  width: 99%;
  height: 9.7rem;
  background-color: #000000;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-text {
  width: 50%;
  font-size: 1.5vw;
  padding: 3rem 0;
}

.big-out {
  background: linear-gradient(#3771C8, rgba(0,0,0,0));
  width: 99vw;
  height: 32vh;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-in {
  width: 99.7%;
  height: 31.7vh;
  background-color: #000000;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-in h3 {
  width: 60%;
  font-size: 2.5vw;
  margin-bottom: 0;
}

.big-in p {
  font-size: 1.2vw;
  background-color: var(--color-span);
  font-weight: 600;
  margin-bottom: 4%;
}


@media only screen and (max-width: 535px) {

  /*MAIN SECTION*/

  main {
    background-image: url('./assets/mobile_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
    margin: 0;
  }

  .main-div {
    width: 85%;
    gap: 1rem;
  }

  .main-logo {
    margin-top: 10%;
  }

  .main-scroll {
    margin-bottom: 5%;
  }

  .main-text p {
    font-size: 3.7vw;
  }

  .main-text {
    padding-bottom: 20%;
  }

  /* SECOND SECTION */

  .second {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .box-wrapper {
    width: 100%;
    gap: 11vw;
}

.box-left {
    align-self: auto;
    width: 75%;
    height: 36vw;
}

.box-right {
    align-self: auto;
    width: 75%;
    height: 36vw;
}

.left-right-line::after,
.right-left-line::after {
    display: none;
}

.right-top-line::before {
    height: 31%;
    top: -31%;
    width: .8vw;
}

.left-top-line::before {
    height: 31%;
    width: .8vw;
}

.box-left-text,
.box-right-text {
  justify-content: space-around;
}

.box-left-text h2,
.box-right-text h2 {
    font-size: 4.5vw;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.box-left-text p,
.box-right-text p {
    font-size: 2.5vw;
    margin-top: 0
}

.box-right-text {
    margin-right: 20px;
}

.box-left-text {
    margin-left: 15px;
}

  /* LAST SECTION */
  .last {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 6rem 0;
  }

  .last-title {
    margin-bottom: 10%;
  }

  .last-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .box-out {
    background: linear-gradient(#3771C8, rgba(0,0,0,0));
    width: 70%;
    height: 18vh;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-in {
    width: 99%;
    height: 17.8vh;
    background-color: #000000;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .last-text {
    width: 90%;
    font-size: 4vw;
    padding: 3rem 0;
  }

  .big-out {
    background: linear-gradient(#3771C8, rgba(0,0,0,0));
    height: 32vh;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .big-in {
    width: 99%;
    height: 31.7vh;
    background-color: #000000;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .big-in p {
    font-size: .8rem;
    background-color: var(--color-span);
    font-weight: 600;
  }

  .big-in h3 {
    font-size: 4vw;;
  }

  .last button {
    margin-top: 3%;
  }

  /* FOOTER */

  footer img {
    width: 30%
  }
}

@media only screen and (min-width: 535px) and (max-width: 1080px) {
  main {
    background-size: cover;
  }

  .main-div {
    width: 60%;
  }

  .main-logo {
    margin-top: 15%;
  }

  h1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  h2 {
    font-size: 8vw;
    line-height: 8vw;
  }

  h3 {
    font-size: 5vw;
    margin: 0;
  }

  .second {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem
  }

  .box-wrapper {
    width: 100%;
    gap: 11vw;
}

.box-left {
    align-self: auto;
    width: 75%;
    height: 36vw;
}

.box-right {
    align-self: auto;
    width: 75%;
    height: 36vw;
}

.left-right-line::after,
.right-left-line::after {
    display: none;
}

.right-top-line::before {
    height: 31%;
    top: -31%;
    width: .8vw;
}

.left-top-line::before {
    height: 31%;
    width: .8vw;
}

.box-left-text,
.box-right-text {
  justify-content: space-around;
}

.box-left-text h2,
.box-right-text h2 {
    font-size: 4.5vw;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.box-left-text p,
.box-right-text p {
    font-size: 2.5vw;
    margin-top: 0
}

.box-right-text {
    margin-right: 20px;
}

.box-left-text {
    margin-left: 15px;
}

  .last {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 6rem 0;
  }

  .last-title {
    margin-bottom: 10%;
  }

  .last-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .box-out {
    background: linear-gradient(#3771C8, rgba(0,0,0,0));
    width: 70%;
    height: 18vh;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-in {
    width: 99%;
    height: 17.8vh;
    background-color: #000000;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-in h3 {
    font-size: 4vw;
  }

  .last-text {
    width: 90%;
    font-size: 2.5vw;
    padding: 3rem 0;
  }

  .big-out {
    background: linear-gradient(#3771C8, rgba(0,0,0,0));
    height: 32vh;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .big-in {
    width: 99%;
    height: 31.7vh;
    background-color: #000000;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .big-in p {
    font-size: .8rem;
    background-color: var(--color-span);
    font-weight: 600;
  }

  .last h2 {
    font-size: 5vw;
  }

  .last button {
    margin-top: 3%;
  }
}
